<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Badge</h1>
    <ion-button (click)="setBadge()">Set</ion-button>
    <ion-button (click)="getBadges()">Get</ion-button>
    <ion-button (click)="requestPermission()">Request Permission</ion-button>
    <ion-button (click)="clearBadge()">Clear</ion-button>
    <br>
    <h1>Code Push</h1>
    <ion-button (click)="onSync()">Sync</ion-button>
    <h1>Dialogs</h1>
    <ion-button (click)="btnAlert()">Alert</ion-button>
    <ion-button (click)="btnConfirm()">Confirm</ion-button>
    <ion-button (click)="btnPrompt()">Prompt</ion-button>
    <ion-button (click)="btnBeep()">Beep</ion-button>
  </div>
</ion-content>
